@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#F4F4F4] text-[#333] font-sans;
}

/* Dark Mode Global Styles */
.dark body {
  @apply bg-[#121212] text-[#bbb];
}